@media screen and (max-width: 768px) {
    #meal .card {
            height: auto;
        }
    
        #meal img {
            height: auto;
            border-bottom-left-radius: 0px !important;
            border-top-right-radius: 16px;
        }

        .card-height {
            height: auto;
        }
}